@model CRMHub.ViewModel.InvoiceModel

<style type="text/css">
    .alignRight {
        text-align: right;
    }
</style>

<div id="activityMsg">
    <div class="col-md-12">
        <div class="panel panel-primary widget-support-tickets" id="dashboard-support-tickets">
            <div class="panel-heading">
                <span class="panel-title" style="color:#fff;">Invoice&nbsp;Payments&nbsp;List</span>

            </div>
            <!-- / .panel-heading -->
            <div class="panel-body tab-content-padding">
                <!-- Panel padding, without vertical padding -->
                <div class="col-sm-12">
                    <div class="slimScrollDiv">

                        <div class="table-primary table-striped">


                            @*<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered dataTable no-footer" id="datatables-CustomerList">*@
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered dataTable no-footer" id="CustomerPaymentList">
                                <thead>
                                    <tr>
                                        <th data-hide="phone">Invoice&nbsp;No</th>
                                        <th data-class="expand" style="text-align:left">Invoice&nbsp;Amount&nbsp;($)</th>
                                        <th data-hide="phone" style="text-align:left">Balance&nbsp;Amount&nbsp;($)</th>
                                        <th data-hide="phone">Due&nbsp;Date</th>

                                        <th data-hide="phone">Payment&nbsp;Type</th>
                                        <th data-hide="phone">Amount&nbsp;Pay&nbsp;($)</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @for (int i = 0; i < Model.listinvoice.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(model => model.listinvoice[i].InvoiceNo)
                                                @Html.HiddenFor(model => model.listinvoice[i].InvoiceNo, new { @id = "hdInvoiceNo-" + i })
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(model => model.listinvoice[i].GrandTotal)
                                                @Html.HiddenFor(model => model.listinvoice[i].GrandTotal, new { @id = "hdGrandtot-" + i })
                                            </td>
                                            <td style="text-align: right;">
                                                @Html.DisplayFor(model => model.listinvoice[i].BalanceAmount)
                                                @Html.HiddenFor(model => model.listinvoice[i].BalanceAmount, new { @id = "hdBalAmountPay-" + i })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.listinvoice[i].DueDate, "{0:MM/dd/yyyy}")
                                                @Html.HiddenFor(model => model.listinvoice[i].DueDate, new { @id = "hddue-" + i })
                                            </td>

                                            <td>
                                                @Html.DropDownListFor(model => model.listinvoice[i].Paymenttype, new List<SelectListItem>
                                                                    {
                                                                    new SelectListItem{Text="Cash",Value="1"},
                                                                    new SelectListItem{Text="Cheque",Value="2"}
                                                                    }, new { id = "ddl_PaymentType", @class = "form-control input-sm", @TabIndex = "14" })
                                            </td>
                                            <td style="width: 15%;">
                                                @Html.TextBoxFor(model => model.listinvoice[i].AmountPaid, new { @id = "txtiAmtPaidPay-" + i, @class = "form-control input-sm", @MaxLength = "50",@title="Please enter Amount", @placeholder = Model.listinvoice[i].BalanceAmount, onkeypress = "return onlynumbers(event,this);" })
                                            </td>
                                            @Html.HiddenFor(model => model.listinvoice[i].InvoiceID, new { @id = "hdInvoiceId-"+i })
                                        </tr>

                                    }




                                </tbody>
                            </table>

                        </div>



                    </div>
                </div>
            </div>
            <!-- / .panel-body -->
        </div>
        <!-- / .panel -->
    </div>
</div>

<script>
   
    function onlynumbers(evt) {            
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode == 43 || charCode == 32 || charCode == 40 || charCode == 41 || charCode == 46)
            return true;
        else if (charCode > 31 && (charCode < 45 || charCode > 57 || charCode == 47 ))
            return false;

        return true;
    }



</script>