@model CRMHub.ViewModel.InvoiceModel
@{
    ViewBag.Title = "CreateInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveInvoice", "Invoice", FormMethod.Post))
{
    <input type="hidden" id="hdSaveValue" value="" />

    <div id="content-wrapper">


        <div id="CustomBootstrapAlertBox">
        </div>

        <div class="row">


            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <!-- Page header, center on small screens -->
                        <h1 class="col-xs-6 col-sm-4 text-left text-left-sm panel-title"><i class="fa fa-user page-header-icon"></i>&nbsp; Create New Invoice</h1>
                        <div class="col-xs-6 col-sm-8">
                            <div class="row">
                                <div class="pull-right">
                                    @*<a href="#" class="btn btn-flat btn-labeled btn-primary" tabindex="-1"
                                        data-toggle="modal" data-target="#uidemo-modals-alerts-info"><span class="btn-label icon fa fa-question-circle"></span>Help</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Tabs -->


                            <div class="tab-pane" id="bs-tabdrop-tab3">

                                <div class="row">
                                    <div class="col-sm-12 col-xs-12">
                                        <div class="page-header-breadcrumb">
                                            <label class="control-label" id="lblMessage"></label>
                                            <ul class="table-nav-item" style="float: right; margin-bottom:5px;">

                                                <li>


                                                    <button class="btn btn-flat btn-labeled btn-primary" type="submit" id="btnSavePost" name="SavePostINV">
                                                        <span class="btn-label icon fa fa-save"></span>Save&nbsp;&&nbsp;Post
                                                    </button>
                                                </li>
                                                <li>


                                                    <button class="btn btn-flat btn-labeled btn-primary" type="submit" id="btnSave" name="SaveInV">
                                                        <span class="btn-label icon fa fa-save"></span>Save
                                                    </button>
                                                </li>
                                                <li>
                                                    <a style="color: #fff; text-decoration: none; padding: 0px; font-weight: normal" class="btn btn-flat btn-labeled btn-primary" href="@Url.Action("Index", "Invoice")">
                                                        <span class="btn-label icon fa fa-backward" style="margin-right:6px;"> </span>
                                                        Back
                                                    </a>
                                                </li>


                                              
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <span id="errorsymbol" style="color:red;display:none;margin-left:5px;" class="fa fa-exclamation-circle"></span><div id="ErrorMessages" style="margin-left:20px;color:red;font-size:15px;margin-top:-19px">

                                </div>
                                <div class="row">
                                    <div class="panel-group" id="accordion-example">

                                        <!-- / .panel -->
                                        <div class="panel">
                                            @*<div class="panel-heading">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-example"
                                                       href="#collapse2">Invoice Detail</a>
                                                </div>*@
                                            <!-- / .panel-heading -->
                                            <div id="collapse2" class="panel-collapse collapse in" style="height: auto;">
                                                <div class="panel-body">
                                                    <div class="col-sm-12 no-padding-hr">
                                                        @*<div class="row" style="margin-bottom:0px;">

                                                                <div class="col-sm-8">

                                                                    <div class="row">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group no-margin-hr">
                                                                                <div class="row" style="margin-bottom:0px; margin-left:6px">
                                                                                    <label>@Html.RadioButton("InvoiceSelect", "RBCustomer",true)&nbsp;&nbsp;Customer&nbsp;&nbsp;</label>
                                                                                    <label>@Html.RadioButton("InvoiceSelect", "RBEstimate")&nbsp;&nbsp;EstimateInvoice&nbsp;&nbsp;</label>
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>*@

                                                        <div class="row" style="margin-bottom:23px;">

                                                            <div class="col-sm-8">

                                                                <div class="row">
                                                                    <div class="col-sm-6" id="Cuswituoutestinv">
                                                                        <div class="form-group no-margin-hr">
                                                                            <label class="control-label">Customer Name :<span style="color: red">*</span></label>



                                                                            <div class="input-group">

                                                                                @Html.TextBoxFor(m => m.invoice.Fname, new { @class = "form-control input-sm", @id = "txtAccountName", @validate = "Required", @data_val_required = "Customer Name", @readonly = false, @Placeholder = "Select Customer" })
                                                                                @Html.HiddenFor(m => m.invoice.Fname, new { @id = "txtAccountName" })
                                                                                <span class="input-group-addon" type=" button" style="cursor:pointer;" onclick="return show_NewAccountPopUp(750, 450);">
                                                                                    <i class="fa fa-search"></i>
                                                                                </span>
                                                                                @Html.HiddenFor(m => m.invoice.CustomerID, new { @id = "txtParentAccountid" })

                                                                            </div>




                                                                            @*<div class="input-group" id="tblContact" runat="server">

                                                                                @Html.TextBoxFor(m => m.invoice.Fname, new { @class = "form-control input-sm", @id = "txtCustomerName", @maxlength = "100", @Placeholder = "Select Customer", @readonly = false, @validate = "Required", @data_val_required = "Contact Name" })
                                                                                <span class="input-group-btn" id="spanid">
                                                                                    <a class="btn" href="#" id="ImageButton4" title="Select Contact"
                                                                                       onclick="return show_NewContactPopUp(580, 420);" style="cursor: pointer"><i class="fa fa-search"></i></a>
                                                                                    @Html.HiddenFor(m => m.invoice.CustomerID, new { @id = "hdCustomerId" })                                                                                    
                                                                                </span>

                                                                            </div>*@



                                                                        </div>

                                                                    </div>

                                                                    <div class="col-sm-6" id="Cuswithestinv" style="display:none">
                                                                        <div class="form-group no-margin-hr">
                                                                            <label class="control-label">Customer Name :<span style="color: red">*</span></label>

                                                                            <div class="input-group" id="tblContact" runat="server">

                                                                                @Html.TextBoxFor(m => m.invoice.Fname, new { @class = "form-control input-sm", @id = "txtCusName", @maxlength = "100", @Placeholder = "Select Customer", @readonly = false, @validate = "Required", @data_val_required = "Contact Name", style = "width: 275px;" })
                                                                                @Html.HiddenFor(m => m.invoice.CustomerID, new { @id = "hdCustomerId" })
                                                                                @*<span class="input-group-btn" id="spanid">
                                                                                        <a class="btn" href="#" id="ImageButton4" title="Select Contact"
                                                                                           onclick="return show_NewContactPopUp(580, 420);" style="cursor: pointer"><i class="fa fa-search"></i></a>


                                                                                    </span>*@

                                                                            </div>



                                                                        </div>

                                                                    </div>

                                                                    @*<div class="col-sm-6" id="estInvDiv" style="display:none">*@
                                                                    <div class="col-sm-6" id="estInvDiv">
                                                                        <div class="form-group no-margin-hr">
                                                                            <label class="control-label">Estimate Invoice :</label>

                                                                            <div class="input-group" id="tblContact" runat="server">

                                                                                @Html.TextBoxFor(m => m.invoice.EstInvoiceNo, new { @class = "form-control input-sm", @id = "txtEstInvNumber", @maxlength = "100", @Placeholder = "Select Estimate Invoice", @readonly = false, @validate = "Required", @data_val_required = "Contact Name" })
                                                                                <span class="input-group-btn">
                                                                                    <a class="btn" href="#" id="ImageButton4" title="Select Estimate Invoice"
                                                                                       onclick="return show_EstimateInvoicePopUp(580, 420);" style="cursor: pointer"><i class="fa fa-search"></i></a>
                                                                                    @Html.HiddenFor(m => m.invoice.EstInvoiceID, new { @id = "hdEnvoiceId" })

                                                                                </span>

                                                                            </div>



                                                                        </div>

                                                                    </div>






                                                                </div>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="row">
                                                                            <div class="form-group no-margin-hr">
                                                                                <span class="label label-primary label-tag">Bill&nbsp;To:</span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-11">
                                                                                @Html.TextArea("txtAddressBilling", null, new { @class = "form-control input-sm", @cols = 80, @rows = 8 })
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <div class="row">
                                                                            <div class="form-group no-margin-hr">
                                                                                <span class="label label-primary label-tag">Ship&nbsp;To:</span>

                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-sm-11">
                                                                                @Html.TextArea("txtAddressShipping", null, new { @class = "form-control input-sm", @cols = 80, @rows = 8 })

                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                </div>


                                                            </div>


                                                            <div class="col-sm-4" style="border:1px solid #ccc; padding:10px;margin-top:23px; height:241px">


                                                                <div class="col-sm-12" style="height:55px">
                                                                    <div class="form-group no-margin-hr">
                                                                        <label class="control-label col-sm-6" style="align-content:flex-end">Invoice&nbsp;Number :</label>
                                                                        <div class="col-sm-6">

                                                                            @Html.TextBoxFor(m => m.invoice.InvoiceNo, new { @id = "txtinvoiceNumber", @class = "form-control input-sm", @MaxLength = "50", @readonly = false })
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-12" style="height:55px">
                                                                    <div class="form-group no-margin-hr">
                                                                        <label class="control-label col-sm-6">Invoice Date :<span style="color: red">*</span></label>
                                                                        <div class="col-sm-6">

                                                                            @Html.TextBoxFor(m => m.invoice.CreatedDate, "{0:MM/dd/yyyy}", new { @id = "txtCreatedDate", @class = "form-control input-sm", @MaxLength = "50", @readonly = false })
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-12" style="height:55px">
                                                                    <div class="form-group no-margin-hr">
                                                                        <label class="control-label col-sm-6">
                                                                            Terms:
                                                                        </label>
                                                                        <div class="col-sm-6">
                                                                            @Html.DropDownListFor(m => m.invoice.TermsID, new List<SelectListItem>
                                                                    {
                                                                    new SelectListItem{Text="Select",Value="0"},
                                                                    new SelectListItem{Text="Term 15",Value="1"},
                                                                    new SelectListItem{Text="Term 30",Value="2"},
                                                                    new SelectListItem{Text="Term 45",Value="3"}

                                                                    }, new { id = "ddl_Invoice_term", @class = "form-control input-sm", @TabIndex = "14" })
                                                                            @*@Html.TextBoxFor(m => m.invoice.TermsID, "{0:MM/dd/yyyy}", new { @id = "txtDueDate", @class = "form-control input-sm", @MaxLength = "50" })*@
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-12" style="height:55px">
                                                                    <div class="form-group no-margin-hr">
                                                                        <label class="control-label col-sm-6">
                                                                            Due&nbsp;Date :
                                                                        </label>
                                                                        <div class="col-sm-6">

                                                                            @Html.TextBoxFor(m => m.invoice.DueDate, "{0:MM/dd/yyyy}", new { @id = "txtDueDate", @class = "form-control input-sm", @MaxLength = "50", @readonly = false })
                                                                        </div>

                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>




                                                        @*Here We use partial view to add items list*@
                                                        <div class="row">
                                                            <div class="col-sm-12">

                                                                <div id="binditemsData">
                                                                    @*Partial view to bind items Lists*@
                                                                </div>

                                                            </div>
                                                        </div>

                                                        @*End of partial view to add items list*@
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group no-margin-hr">
                                                                    <label class="control-label col-sm-2" style="float:left;width:20%;margin-bottom:-50px;margin-top: 5px;margin-left:655px;">Total&nbsp;($):</label>
                                                                    <div class="col-sm-3" style="float:right;width:18%;margin-right:47px;">
                                                                        @Html.TextBoxFor(m => m.invoice.InvoiceAmount, new { @class = "form-control input-sm", @readonly = false, @id = "txttotal", @style = "text-align:right" })
                                                                        @*@Html.TextBoxFor(m => m.invoice.Total, new { @class = "form-control input-sm", @readonly = false, @id = "txttotal", @style = "text-align:right" })*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group no-margin-hr">
                                                                    <label class="control-label col-sm-2" style="float:right;width:20%;margin-bottom:-50px;margin-top: 5px;margin-right:170px;">Tax&nbsp;(%)&nbsp;:</label>
                                                                    <label class="control-label col-sm-2" style="float:right;width:20%;margin-bottom:-50px;margin-top: 5px;margin-right:52px;">(+)</label>
                                                                    <div class="col-sm-3" style="float:right;width:18%;margin-right:47px;">
                                                                        @Html.TextBoxFor(m => m.invoice.TaxAmount, new { @class = "form-control input-sm", @readonly = false, @id = "txtTax", @style = "text-align:right" })
                                                                    </div>

                                                                    <div class="col-sm-3" style="float:right;width:8%;margin-right:7px;">
                                                                        @Html.TextBoxFor(m => m.invoice.TaxPercent, new { @class = "form-control input-sm", @id = "txtTaxpercent", @style = "text-align:right" })
                                                                        @*@Html.TextBox("txtTaxpercent", null, new { @class = "form-control input-sm", @id = "txtTaxpercent" })*@
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group no-margin-hr">
                                                                    <label class="control-label col-sm-2" style="float:right;width:20%;margin-bottom:-50px;margin-top: 5px;margin-right:205px;">Discount&nbsp;(%)&nbsp;:</label>
                                                                    <label class="control-label col-sm-2" style="float:right;width:20%;margin-bottom:-50px;margin-top: 5px;margin-right:52px;">(-)</label>
                                                                    <div class="col-sm-3" style="float:right;width:18%;margin-right:47px;">
                                                                        @Html.TextBoxFor(m => m.invoice.Discount, new { @class = "form-control input-sm", @readonly = false, @id = "txtDiscount", @style = "text-align:right" })
                                                                    </div>
                                                                    <div class="col-sm-3" style="float:right;width:8%;margin-right:7px;">
                                                                        @Html.TextBoxFor(m => m.invoice.DiscountPercent, new { @class = "form-control input-sm", @id = "txtDiscamt", @style = "text-align:right" })
                                                                        @*@Html.TextBox("txtDiscamt", null, new { @class = "form-control input-sm", @id = "txtDiscamt" })*@
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group no-margin-hr">
                                                                    <label class="control-label col-sm-2" style="float:right;width:20%;margin-bottom:-50px;margin-top: 5px;margin-right:280px;">Miscellaneous&nbsp;Amount&nbsp;($):</label>
                                                                    <label class="control-label col-sm-2" style="float:right;width:20%;margin-bottom:-50px;margin-top: 5px;margin-right:52px;">(+)</label>
                                                                    <div class="col-sm-3" style="float:right;width:18%;margin-right:47px;">
                                                                        @Html.TextBoxFor(m => m.invoice.MiscellaneousAmount, new { @class = "form-control input-sm", @readonly = false, @id = "txtmsiAmt", @style = "text-align:right" })
                                                                    </div>
                                                                    <div class="col-sm-3" style="float:right;width:8%;margin-right:7px;">
                                                                        @Html.TextBoxFor(m => m.invoice.MiscellaneousAmount, new { @class = "form-control input-sm", @id = "txtMisAmount", @style = "text-align:right" })
                                                                        @*@Html.TextBox("txtMisAmount", null, new { @class = "form-control input-sm", @id = "txtMisAmount" })*@
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-sm-12">

                                                                <div class="form-group no-margin-hr">
                                                                    <label class="control-label col-sm-2" style="float:left;width:20%;margin-bottom:-75px;margin-top: 5px;margin-left:615px;">Grand Total&nbsp;($):</label>
                                                                    <div class="col-sm-3" style="float:right;width:18%;margin-right:47px;">

                                                                        @Html.TextBoxFor(m => m.invoice.GrandTotal, new { @class = "form-control input-sm", @readonly = false, @id = "txtGrdTotal", @style = "text-align:right" })
                                                                    </div>

                                                                </div>


                                                            </div>

                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12">

                                                                <div class="form-group no-margin-hr">
                                                                    <label class="control-label">Notes&nbsp;:</label>
                                                                    <div class="col-sm-12">
                                                                        @Html.TextAreaFor(m => m.invoice.Description, new { @id = "txtDescription", @class = "textEditor" })

                                                                    </div>


                                                                </div>

                                                            </div>
                                                        </div>





                                                    </div>
                                                </div>
                                                <!-- / .panel-body -->
                                            </div>
                                            <!-- / .collapse -->
                                        </div>
                                        <!-- / .panel -->
                                        <!-- / .panel -->
                                        <!-- / .panel -->

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

}


<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title">Customer List</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div style="text-align:left;font-size:12px;padding:5px">Note : Click Customer Name To Select Record.</div>
                    <div class="col-sm-12">

                        <div class="table-primary table-striped" id="tblCustomerList">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="myEstimateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title">Estimate Invoice List</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div style="text-align:left;font-size:12px;padding:5px">Note : Click Estimate Number To Select Record.</div>
                    <div class="col-sm-12">

                        <div class="table-primary table-striped" id="tblEstimateInvList">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        //$(function () {
        //    $('input[type="radio"]').click(function () {
        //        if ($(this).is(':checked')) {
        //           // alert($(this).val());
        //            var RadioCheckedid = $(this).val();
        //            if (RadioCheckedid == "RBEstimate")
        //            {
        //               // alert("Show");
        //                $('#estInvDiv').css('display', ($(this).val() === 'RBEstimate') ? 'block' : 'none');
        //                $('#Cuswithestinv').css('display', ($(this).val() === 'RBEstimate') ? 'block' : 'none');
        //                $('#Cuswituoutestinv').css('display', ($(this).val() === 'RBEstimate') ? 'none' : 'block');
        //                //$('#spanid').hide();
        //            }
        //            else if (RadioCheckedid == "RBCustomer")
        //            {
        //              //  alert("Hide");
        //                $('#estInvDiv').css('display', ($(this).val() === 'RBCustomer') ? 'none' : 'block');
        //                $('#Cuswituoutestinv').css('display', ($(this).val() === 'RBCustomer') ? 'block' : 'none');
        //                $('#Cuswithestinv').css('display', ($(this).val() === 'RBCustomer') ? 'none' : 'block');

        //                //$('#spanid').show();
        //            }
        //            //estInvDiv
        //        }
        //    });
        //});



        $.ajax({
            url: '_BindItemslist',
            dataType: "html",
            type: "GET",
            async: false,
            //data: { associateId: associateId },
            success: function (data) {

                $("#binditemsData").html(data);
                // $('#ShowStatus').show();
            }
        });
    });

    $(".textEditor").jqte();
    $(function () {

        $('#txtCreatedDate').datepicker({
            format: 'mm/dd/yyyy'
            //setDate:'currentDate'
        });
        $('#txtDueDate').datepicker({
            format: 'mm/dd/yyyy'
        });
        $('.DateP').datepicker({
            format: 'mm/dd/yyyy'
        })
    });

    function show_NewContactPopUp() {

        $('#loading').css('display', 'block');

        $.ajax({
            url: '@Url.Action("_GetCustomersList", "Invoice")',

            type: "GET",
            async: false,
            // data: { companyid: companyid },
            success: function (data) {
                if (data != null) {
                    $('#tblCustomerList').empty();
                    $('#tblCustomerList').empty().append(data);
                }
            },
            error: function (n, y, p) {
                alert("error");
            }
        });
        $('#myModal').modal("show");
    }

    function chkSameAddress() {
        var address1 = document.getElementById('txtAddressBilling').value;
        var address2 = document.getElementById('txtBillingStreet').value;
        var city = document.getElementById('txtBillingCity').value;
        var postal = document.getElementById('txtBillingZip').value;
        var state = document.getElementById('txtBillingstate').value;
        var country = document.getElementById('txtBillingCountry').value;

        var hdaddress1 = document.getElementById('hdAddressShipping').value;
        var hdaddress2 = document.getElementById('hdShippingstreet').value;
        var hdcity = document.getElementById('hdShippingcity').value;
        var hdpostal = document.getElementById('hdShippingzip').value;
        var hdstate = document.getElementById('hdShippingstate').value;
        var hdcountry = document.getElementById('hdShippingcountry').value;

        if (document.getElementById('chkAddress').checked == true) {



            document.getElementById('txtAddressShipping').value = address1;
            document.getElementById('txtShippingStreet').value = address2;
            document.getElementById('txtshippingCity').value = city;
            document.getElementById('txtshippingZip').value = postal;
            document.getElementById('txtshippingstate').value = state;
            document.getElementById('txtshippingCountry').value = country;
        }
        else if (document.getElementById('chkAddress').checked == false) {

            document.getElementById('txtAddressBilling').value = hdaddress1;
            document.getElementById('txtOtherStreet').value = hdaddress2;
            document.getElementById('txtOtherCity').value = hdcity;
            document.getElementById('txtOtherZip').value = hdpostal;
            document.getElementById('txtOtherstate').value = hdstate;
            document.getElementById('txtOtherCountry').value = hdcountry;
        }

    }

    $('#ddl_Invoice_term').change(function () {

        var termvalue = $('#ddl_Invoice_term').val();

        var daystoadd = "";
        if (termvalue == "1") {
            daystoadd = 15;
        }
        else if (termvalue == "2") {
            daystoadd = 30;
        }
        else if (termvalue == "3") {
            daystoadd = 45;
        }
        else daystoadd = 30;

        var Cdate = $('#txtCreatedDate').val();
        var ndate = DateFromString(Cdate, daystoadd);
        var DuedateC = new Date(ndate);

        var twoDigitMonth = DuedateC.getMonth() + 1;

        twoDigitMonth = twoDigitMonth + ""; if (twoDigitMonth.length == 1) twoDigitMonth = "0" + twoDigitMonth;
        var twoDigitDate = DuedateC.getDate() + ""; if (twoDigitDate.length == 1) twoDigitDate = "0" + twoDigitDate;
        var currentDate = twoDigitMonth + "/" + twoDigitDate + "/" + DuedateC.getFullYear();

        $('#txtDueDate').val(currentDate);

    });
    function DateFromString(str, daystoadd) {
        str = str.split(/\D+/);
        str = new Date(str[2], str[0] - 1, (parseInt(str[1]) + daystoadd));
        return MMDDYYYY(str);
    }

    function MMDDYYYY(str) {
        var ndateArr = str.toString().split(' ');
        var Months = 'Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec';
        return (parseInt(Months.indexOf(ndateArr[1]) / 4) + 1) + '/' + ndateArr[2] + '/' + ndateArr[3];
    }


    $('#txtTaxpercent').blur(function () {
        updateamount();

    });
    $('#txtDiscamt').blur(function () {
        var discAmount1 = $('#txtDiscamt').val();
        $('#txtDiscount').val(discAmount1);
        updateamount();
    });

    $('#txtMisAmount').blur(function () {
        var miscamount1 = $('#txtMisAmount').val();
        $('#txtmsiAmt').val(miscamount1);
        updateamount();
    });

    function updateamount() {
        //alert("Update");
        var itemtotal = $('#ItemTotal').val();

        var taxrate = 0;
        var taxamount = 0;
        var discAmount = 0;
        var discrate = 0;
        var totamount = $('#txttotal').val();

        // Calculation Of Tax Amount
        var taxpercent = $('#txtTaxpercent').val();
        if (taxpercent != "") {
            taxrate = taxpercent / 100;
            taxamount = parseInt(totamount * taxrate);
        }
        else taxrate = 0;
        $('#txtTax').val(taxamount);

        // Calculation Of Discount Amount
        var discountpercent = $('#txtDiscamt').val();
        if (discountpercent != "") {
            discrate = discountpercent / 100;
            discAmount = parseInt(totamount * discrate);
        }
        else discAmount = 0;
        //var discAmount = $('#txtDiscamt').val();
        var miscamount = $('#txtMisAmount').val();


        if (miscamount != "") {
            miscamount == miscamount;
        }
        else miscamount = 0;
        $('#txtmsiAmt').val(miscamount);
        $('#txtDiscount').val(discAmount);

        // Calculation of Invoice Grandtotal Amount
        var grdamt = parseInt(totamount) + parseInt(taxamount) - parseInt(discAmount) + parseInt(miscamount);
        grdamt = (isNaN(grdamt)) ? 0 : grdamt;

        $('#txtGrdTotal').val(grdamt);
    }



    $("#btnSave").click(function (e) {
        if ($('#txtAccountName').val() == "") {
            Isvalid = true;
            return Validate(this.form);
        }
        else
        {
            var checkval = true;

            if (r > 0) {
                var arrylength = CheckItems.length;
                var arrlen = arrylength - 1;
                var itemsCount = "";
                // To get the Count of items for validation
                $.ajax({
                    url: '@Url.Action("GetItemsCount")',
                    async: false,
                    type: "GET",

                    success: function (data) {
                        itemsCount = data;


                    }
                });
                var tblrowCount = $('#jq-datatables-itemPopup tr').length;

                if (tblrowCount == 2) {
                    if (arrlen < itemsCount) {
                        if ($('#txtAccountName').val() == "") {
                            Isvalid = true;
                            return Validate(this.form);
                        }
                        else if ($('#ItemName').val() == "") {
                            $.growl.error({ title: "Error", message: "Please Select Item", size: 'large' });
                            checkval = false;
                            // return false;
                        }
                        else if ($('#QtyCommitted').val() == "" || ($('#QtyCommitted').val() == 0)) {
                            $.growl.error({ title: "Error", message: "Please Enter Quantity", size: 'large' });
                            $('#QtyCommitted').val('');
                            checkval = false;
                            // return false;
                        }
                    }
                }
                else if (tblrowCount > 2) {
                    if (arrlen < itemsCount) {
                        if ($('#txtAccountName').val() == "") {
                            Isvalid = true;
                            return Validate(this.form);
                        }
                        if ($('#ItemName').val() != "") {
                            if ($('#QtyCommitted').val() == "" || ($('#QtyCommitted').val() == 0)) {
                                $.growl.error({ title: "Error", message: "Please Enter Quantity", size: 'large' });
                                $('#QtyCommitted').val('');
                                checkval = false;
                                //return false;
                            }

                        }

                    }
                }
            }
            else {
                $.growl.error({ title: "Error", message: "Please Add Item(s) to Kart", size: 'large' });
                checkval = false;
                // return false;
            }

            return checkval;
        }
        


    });

    $("#btnSavePost").click(function (e) {
        if ($('#txtAccountName').val() == "") {
            Isvalid = true;
            return Validate(this.form);
        }
        else {
            var checkval = true;

            if (r > 0) {

                var arrylength = CheckItems.length;
                var arrlen = arrylength - 1;
                var itemsCount = "";

                // To get the Count of items for validation

                $.ajax({
                    url: '@Url.Action("GetItemsCount")',
                    async: false,
                    type: "GET",

                    success: function (data) {
                        itemsCount = data;


                    }
                });

                var tblrowCount = $('#jq-datatables-itemPopup tr').length;

                if (tblrowCount == 2) {
                    if (arrlen < itemsCount) {
                        if ($('#txtAccountName').val() == "") {
                            Isvalid = true;
                            return Validate(this.form);
                        }
                        else if ($('#ItemName').val() == "") {
                            $.growl.error({ title: "Error", message: "Please Select Item", size: 'large' });
                            checkval = false;
                            // return false;
                        }
                        else if ($('#QtyCommitted').val() == "" || ($('#QtyCommitted').val() == 0)) {
                            $.growl.error({ title: "Error", message: "Please Enter Quantity", size: 'large' });
                            $('#QtyCommitted').val('');
                            checkval = false;
                            //  return false;
                        }
                    }
                }
                else if (tblrowCount > 2) {
                    if (arrlen < itemsCount) {
                        if ($('#txtAccountName').val() == "") {
                            Isvalid = true;
                            return Validate(this.form);
                        }
                        if ($('#ItemName').val() != "") {
                            if ($('#QtyCommitted').val() == "" || ($('#QtyCommitted').val() == 0)) {
                                $.growl.error({ title: "Error", message: "Please Enter Quantity", size: 'large' });
                                $('#QtyCommitted').val('');
                                checkval = false;
                                //  return false;
                            }

                        }
                    }

                }
            }
            else {
                $.growl.error({ title: "Error", message: "Please Enter values", size: 'large' });
                checkval = false;
                // return false;
            }

            return checkval;
        }
        //if (arrlen < itemsCount) {

        //    if ($(txtCustomerName).val() == "") {
        //        Isvalid = true;
        //        return Validate(this.form);
        //    }
        //    else if ($(ItemName).val() == "") {
        //        $.growl.error({ title: "Error", message: "Please Select Item", size: 'large' });
        //        return false;
        //    }
        //    else if ($(QtyCommitted).val() == "") {
        //        $.growl.error({ title: "Error", message: "Please Enter Quantity", size: 'large' });
        //        return false;
        //    }
        //}

    });
    // show_EstimateInvoicePopUp
    function show_EstimateInvoicePopUp() {
        //alert("Hello");
        //  $('#loading').css('display', 'block');

        $.ajax({
            url: '@Url.Action("_GetEstimateInvoice", "Invoice")',

            type: "GET",
            async: false,
            success: function (data) {
                if (data != null) {
                    $('#tblEstimateInvList').empty();
                    $('#tblEstimateInvList').empty().append(data);
                }
            },
            error: function (n, y, p) {
                alert("error");
            }
        });
        $('#myEstimateModal').modal("show");
    }




    function show_NewAccountPopUp() {

        //$('#loading').css('display', 'block');
        $.ajax({
            //url: "../Leads/ListParentComp",
            url: "../Leads/GetallCompanies",
            type: "GET",
            async: false,
            success: function (data) {

                if (data != null) {

                    $('#tblCompanyList').empty();
                    $('#tblCompanyList').empty().append(data);

                }
            },
            error: function () {

            }
        });
        $('#loading').css('display', 'none');
        $('#myCompanyModal').modal("show");
    }

</script>
<div class="modal fade" id="myCompanyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Company List</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div style="text-align:left;font-size:12px;padding:5px">Note : Click Company Name To Select Record.</div>
                    <div class="col-sm-12">

                        <div class="table-primary table-striped" id="tblCompanyList">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>