@model IEnumerable<CRMHub.EntityFramework.tbl_Lead>

    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="jq-datatables-LeadPopup" width="100%">
        <thead>
            <tr>
                <th data-hide="phone">Lead ID</th>
                <th data-class="expand">Lead Name</th>
                <th data-hide="phone">Account Name</th>
                @*<th data-hide="phone">Account Id</th>*@
                @*<th data-hide="phone">Mailing Address</th>
                    <th data-hide="phone">Company Status</th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.LeadId
                        </td>
                        <td>
                            <a href="#" id="aParentLeadId" data-leadid="@item.LeadId">@item.LeadName</a>
                            @*<a href="#" id="aParentLeadId" data-Leadid="@item.LeadId" data-accid="@item.AccountId" data-accName="@item.AccountName">@item.LeadName</a>*@

                        </td>
                        <td>
                            @item.AccountName
                        </td>
                        @*<td>
                                @item.AccountId
                            </td>*@

                    </tr>
                }
            }
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#jq-datatables-LeadPopup').dataTable({
                "aLengthMenu": [[10, 25, 50], [10, 25, 50]],
                "columnDefs": [{ targets: 'no-sort', orderable: false, targets: [0, 1] }]
            });
        });
        $(document).on("click", "#aParentLeadId", function () {

            var parentComp = $(this).text();
            var Leadid = $(this).attr('data-Leadid');
            //var CompanyName = $(this).attr('data-accName');
            //var AccountId = $(this).attr('data-accid');
            //$('#txtCompanyName').val(CompanyName);
            //$('#hdParentAccountId').val(AccountId);

            $('#txtLeadName').val(parentComp);
            $('#hdParentLeadId').val(Leadid);
            $('#myModalLead').modal("hide");

        });


    </script>

