@model IEnumerable<CRMHub.EntityFramework.Activity>

    @{
        ViewBag.Title = "GetUserNotifications";
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }

    <div class="widget">
        <div class="widget-header bordered-bottom bordered-themesecondary">
            <i class="widget-icon fa fa-user themesecondary"></i>
            <span class="widget-caption themesecondary">User Notifications</span>
        </div><!--Widget Header-->
        <div class="widget-body">
            
                    <div class="row">
                        <!-- col-sm-6 -->

                        <div class="clearfix"></div>
                        <div class="col-sm-13" id="filter"></div>

                        <!-- col-sm-6 -->

                        <div class="col-sm-12 col-xs-12">
                            <div class="table-primary table-striped">
                                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tblnotification" width="100%">

                                    <tbody style="text-align: left;">
                                        @*  @var i= 0;*@
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="text-align: left;">


                                                    @if (@item.daysdiff <= 0)
                                                    {
                                                        <div><span style="color: red"> Module : <strong>@item.AccountTypeName</strong></span></div>
                                                    }
                                                    else if (@item.daysdiff > 0)
                                                    {
                                                        <div><span style="color: green"> Module : <strong>@item.AccountTypeName</strong></span></div>
                                                    }
                                                    <div class="notifycls">
                                                        You have been schedule for &nbsp;
                                                        @if (item.AccountTypeName == "Companies")
                                                        {
                                                            <a href="@Url.Action("EditActivityCmpgrid", "ManageCompany", new { HistoryId = item.ID })">
                                                                <span id="@("HistoryId")+@item.ID+@item.DueDate"><strong>@item.ActivityName</strong></span>
                                                            </a>
                                                        }
                                                        @if (item.AccountTypeName == "Contacts")
                                                        {
                                                            <a href="@Url.Action("EditActivitygridContact", "Contact", new { historyid = item.ID })">
                                                                <span id="@("historyid")+@item.ID+@item.DueDate"><strong>@item.ActivityName</strong></span>
                                                            </a>
                                                        }
                                                        @if (item.AccountTypeName == "Opportunities")
                                                        {
                                                            <a href="@Url.Action("EditOpportunityActivityGrid", "Opportunities", new { Leadhistid = item.ID })">
                                                                <span id="@("Leadhistid")+@item.ID+@item.DueDate"><strong>@item.ActivityName</strong></span>
                                                            </a>
                                                        }
                                                        @*@if (item.AccountTypeName == "Leads")
                            {
                                <a href="@Url.Action("EditLeadActivityGrid", "Leads", new { leadhistoryid = item.ID })">
                                    <span id="@("leadhistoryid")+@item.ID+@item.DueDate"><strong>@item.ActivityName</strong></span>
                                </a>
                            }*@

                                                    </div>
                                                    <div>Due Date is on &nbsp;<strong>@item.DueDate</strong></div>
                                                    <div>Remind Date is on : <strong>@item.RemindDate</strong></div>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
             

            </div>

        </div>
  
 
    <style>
        .DT-search, .DT-search input {
            display: none;
        }

        .DT-per-page {
            border-right: 1px solid #eee;
            margin-right: -1px;
            height: 23px;
            padding-right: 15px;
            white-space: nowrap;
        }
    </style>


    <script type="text/javascript">

        $(document).ready(function () {


            var responsiveHelper = undefined;
            var breakpointDefinition = {
                desktop: Infinity,
                tablet: 1024,
                tabletlandscape: 768,
                phone: 480
            };
            var tableElement = $('#tblnotification');
            tableElement.dataTable({
                autoWidth: false,
                preDrawCallback: function () {
                    if (!responsiveHelper) {
                        responsiveHelper = new ResponsiveDatatablesHelper(tableElement, breakpointDefinition);
                    }
                },
                rowCallback: function (nRow) {
                    responsiveHelper.createExpandIcon(nRow);
                },
                drawCallback: function (oSettings) {
                    responsiveHelper.respond();
                },

                "aLengthMenu": [[10, 25, 50], [10, 25, 50]],
                //"columnDefs": [{ targets: 'no-sort', orderable: false, targets: [0, 1] }],
                "columnDefs": [{ "targets": [0], "visible": true, "bSortable": false }],
                "pagingType": "full_numbers",
                "processing": true

            }).api();
        });
        $('.notifycls span').click(function (e) {
            var hid = this.id
            //alert(hid);
            var values = hid.split("+");
            var ActivityId = values[1];
            var DueDate = values[2];
            var ModuleType = values[0];
            if (new Date(DueDate) <= new Date()) {
                $.ajax({
                    url: '@Url.Action("ActivateNotification", "DashBoard")',
                    //url: "ActivateNotification",
                    // url: "DashBoard/ActivateNotification",
                    type: "POST",
                    cache: "false",
                    data: { ModuleType: ModuleType.toString(), notificationIds: ActivityId.toString() },
                    success: function (data) {

                        //$('#loading').css('display', 'none');
                        //$('#ConfirmModal').modal('show');
                        //if (data === true) {
                        //    window.location.href = window.location.href;
                        //    $.growl.notice({ title: "Success", message: "Notification Duedate completed.", size: 'large' });
                        //}
                        //else {
                        //    $.growl.notice({ title: "Fail", message: "Failed .", size: 'large' });
                        //}
                    },
                    error: function (request, status, error) {
                    }
                });
            }
        });
    </script>

