@*@model IEnumerable<CRMHub.EntityFramework.Import>*@
@model System.Data.DataTable
@using System.Data;
@using System.Web.Mvc;


@{
    ViewBag.Title = "ImportCompanies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pfi-clear {
        display: none !important;
    }
</style>
<script src="~/Scripts/jquery-2.1.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var ErrMsg = '@ViewBag.Importerror';

        if (ErrMsg != "") {
            $.growl.error({ title: "Error", message: "Template Format doesn't match for import process.", size: 'large' });
        }


        //pavi
        remopt = [];
        var cc = $("#tblPreviewCompany1  tr").length;
        for (i = 0; i <= cc; i++) {

            var left = $("#tblPreviewCompany1 tr").eq(i).find('td').eq(0).text()
            $("#tblPreviewCompany1 tr").eq(i).find('td').eq(1).find('#SheetCols option:selected').text(left);


            if (left == "CreatedDate") {
                $("#tblPreviewCompany1 tr").eq(i).find('td').eq(1).find('#SheetCols').prop("disabled", true);
            }
            else if (left == "ModifiedDate") {
                $("#tblPreviewCompany1 tr").eq(i).find('td').eq(1).find('#SheetCols').prop("disabled", true);
            }
            else if (left == "Creator") {
                $("#tblPreviewCompany1 tr").eq(i).find('td').eq(1).find('#SheetCols').prop("disabled", true);
            }
            else if (left == "ModifiedBy") {
                $("#tblPreviewCompany1 tr").eq(i).find('td').eq(1).find('#SheetCols').prop("disabled", true);
            }
        }
        $("#SaveMappings").click(function () {
            // 
            var controls = $("#tblPreviewCompany1  tr").length;

            opt = [];
            for (i = 0; i <= controls; i++) {

                var left = $("#tblPreviewCompany1 tr").eq(i).find('td').eq(0).text()
                var right = $("#tblPreviewCompany1 tr").eq(i).find('td').eq(1).find('#SheetCols option:selected').text();
                var value = left + "+" + right;



                opt.push(value);
            }


            $("#Mappings").val(GetcommaseparatedIds(opt));
        });



        if ('@ViewBag.ImportVal' == "2") {
            $("#wizardexamplestep1").css("display", "none");
            $("#wizardexamplestep2").css("display", "block");
            $("#wizardexamplestep3").css("display", "none");
            $("#wizard2").addClass("active");
            $("#wizard3").addClass("inactive");
        }

        if ('@ViewBag.ImportComplete' == "3") {
            $("#wizardexamplestep1").css("display", "none");
            $("#wizardexamplestep2").css("display", "none");
            $("#wizardexamplestep3").css("display", "block");
            $("#wizard2").addClass("active");
            $("#wizard3").addClass("active");
            //  alert("Successfully Imported");
            $.growl.notice({ title: "Success", message: "Companie(s) Successfully Imported.", size: 'large' });
        }
    });
</script>
<script>
    //$(document).ready(function () {
    //    $("#ButtonContCancel").click(function () {;
    //        window.location.href = "/Import/ImportCompanies/";

    //        //    $.ajax({
    //        //        url: "/Import/ImportCompanies",
    //        //        type: "GET",
    //        //        dataType: "json",
    //        //        contentType: "application/json; charset=utf-8",
    //        //        success: function (data) {
    //        //            if (data.status == "Success") {
    //        //                alert("Done");
    //        //            } else {
    //        //                alert("Error occurs on the Database level!");
    //        //            }
    //        //        },
    //        //        error: function () {
    //        //            alert("An error has occured!!!");
    //        //        }
    //        //    });
    //        //})
    //    })
    //    });
</script>

<script type="text/javascript">
    function RemoveMapping(i) {
        // 
        var controls = $("#tblPreviewCompany1  tr").length;


        var left = $("#tblPreviewCompany1 tr").eq(i).find('td').eq(0).text()
        $("#tblPreviewCompany1 tr").eq(i).find('#RemoveMapping').replaceWith($("#tblPreviewCompany1 tr").eq(i).find('td').eq(2).find('#RemoveMapping').text());
        remopt.push(left);


        $("#RemoveMappings").val(GetcommaseparatedIds(remopt));
    }
    function DownloadCompaniesSample() {

        window.location.href = 'DownloadImportCompaniesSample';
    }

    function CheckUncheckAll(objRef) {
        var myGrid = objRef.parentNode.parentNode.parentNode;
        //var myGrid = document.getElementById("< %= grdPreview.ClientID %>");
        var oRows = myGrid.rows;
        var rawDataRows = new Array();

        for (var i = 1; i < oRows.length; i++) {

            if (oRows[i].cells[0].children[1].value != "1") {
                var checked = true;
                if (oRows[i].cells[0].children[0].type == "checkbox") {
                    oRows[i].cells[0].children[0].checked = objRef.checked;
                    if (objRef.checked) {
                        oRows[i].style.backgroundColor = "#E9F7DF";
                    } else {
                        oRows[i].style.backgroundColor = "#FFF";

                    }

                }
            }
        }

    }
    function CheckRowClick(objRef) {
        var row = objRef.parentNode.parentNode;
        if (objRef.checked) {
            row.style.backgroundColor = "#E9F7DF";
        }
        else {
            row.style.backgroundColor = "#FFF";
        }

        var myGrid = objRef.parentNode.parentNode.parentNode.parentNode;
        var oRows = myGrid.rows;
        var rawDataRows = new Array();

        for (var i = 0; i < oRows.length; i++) {
            var headerCheckBox = oRows[0].cells[0].children[0];
            var checked = true;
            if (oRows[i].cells[0].children[0].type == "checkbox" && oRows[i].cells[0].children[0] != headerCheckBox) {
                if (!oRows[i].cells[0].children[0].checked) {
                    checked = false;
                    break;
                }
            }
        }
        if (headerCheckBox.checked == false) {
            $(objRef).attr("disabled", "disabled");
        }
        else {
            headerCheckBox.checked = checked;

        }
    }


    function doCancel() {
        this.window.close();
    }

    function showWaidDiv() {
        document.getElementById('pleasewaitScreen').style.display = 'block';
    }

    function chkData() {

        Showloading();
        return true;

    }
    function Showloading() {

        var div = document.getElementById('enlarge');
        div.style.visibility = "visible";

    }

    function Hideloading() {

        var div = document.getElementById('enlarge');
        div.style.visibility = "hidden";

    }
    function hideWizard3() {
        var div = document.getElementById('wizardexamplestep3');
        div.style.display = "none";

    }
    function GetcommaseparatedIds(data) {
        var strval = "";
        if (data.length > 0) {
            for (var i = 0; i < data.length; i++) {
                strval += data[i] + ",";
            }
            return strval.substring(0, strval.length - 1);
        }
        else
            return null;
    }
</script>



<script>
    init.push(function () {
        $('#wizard-forms').pixelWizard({
            onFinish: function () {
                // Disable changing step. To enable changing step just call this.unfreeze()
                this.freeze();
            }
        });
        $('#wizard-forms .wizard-prev-step-btn').on('click', function () {
            $('#wizard-forms').pixelWizard('prevStep');
            return false;
        });

        // Account page

        $('#wizard-account').on('submit', function () {
            if ($(this).valid()) {
                $('#wizard-forms').pixelWizard('nextStep');
            }
            return false;
        });

        // Profile page

        $("#wizard-profile").validate({
            ignore: '.ignore, .select2-input',
            focusInvalid: true,
            rules: {
                'full_name': {
                    required: true
                },
                'country': {
                    required: true
                },
                'subscription': {
                    required: true
                },
                'gender1': {
                    require_from_group: [1, 'input[name="gender1"], input[name="gender2"]']
                },
                'gender2': {
                    require_from_group: [1, 'input[name="gender1"], input[name="gender2"]']
                }
            }
        });
        $('#wizard-profile').on('submit', function () {
            if ($(this).valid()) {
                $('#wizard-forms').pixelWizard('nextStep');
            }
            return false;
        });

        // Credit card page

        var $wcc = $('#wizard-credit-card')
        $wcc.find('[data-toggle="tooltip"]').tooltip();
        $wcc.find('input[name="postal_code"]').mask("999999");
        $wcc.find('input[name="credit_card_number"]').mask("9999 9999 9999 9999");
        $wcc.find('input[name="csv"]').mask("999");
        $wcc.validate({
            ignore: '.ignore, .select2-input',
            focusInvalid: true,
            rules: {
                'postal_code': {
                    required: true,
                    digits: true,
                    rangelength: [6, 6]
                },
                'credit_card_number': {
                    required: true,
                    creditcard: true
                },
                'csv': {
                    required: true,
                    digits: true,
                    rangelength: [3, 3]
                }
            }
        });
        $wcc.on('submit', function () {
            if ($(this).valid()) {
                $('#wizard-forms').pixelWizard('nextStep');
            }
            return false;
        });

        // Finish page

        $('#wizard-finish button').click(function () {
            $(this).parent().find('.text-lg').text('THANK YOU!');
            $(this).parent().find('.fa-check').removeClass('fa-check').addClass('fa-check-circle');
            $(this).remove();
            $('#wizard-forms').pixelWizard('nextStep');
            return false;
        });

    });

    function ClearFileContent() {
        var innerHtmlCode = document.getElementById('fileImport').value;
        alert(innerHtmlCode);
        document.getElementById('fileImport').value = "";

        //
        //var fileObj = document.getElementById("fileImport");
        //alert(fileObj);
        //alert(fileObj.value);
        //clearFileInput(document.getElementById('fileImport'));

    }
    function clearFileInput(ctrl) {
        try {
            ctrl.value = null;
        } catch (ex) { }

    }
</script>
<style>
    .pfi-clear {
        display: none !important;
    }
</style>


<div id="content-wrapper">
    <div id="CustomBootstrapAlertBox">
    </div>
    <div class="row">

        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <!-- Page header, center on small screens -->
                    <h1 class="col-xs-6 col-sm-4 text-left text-left-sm panel-title"><i class="fa fa-users page-header-icon"></i>&nbsp;<label id="lblHeading">Import Companies</label></h1>
                    <div class="col-xs-6 col-sm-8">
                        <div class="row">
                            <div class="pull-right">
                                @*<a href="#" class="btn btn-flat btn-labeled btn-primary" tabindex="-1"
                                    data-toggle="modal" data-target="#uidemo-modals-alerts-info"><span class="btn-label icon fa fa-question-circle"></span>Help</a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="wizard ui-wizard-example">
                        <div class="wizard-wrapper">
                            <ul class="wizard-steps" style="left: 0px;">
                                <li data-target="#wizardexamplestep1" id="wizard1" style="width: 268px; max-width: 268px; min-width: 268px;" class="active" onclick="hideWizard3    ()">
                                    <span class="wizard-step-number">1</span>
                                    <span class="wizard-step-caption">
                                        Step 1

                                        <span class="wizard-step-description">Upload csv data file</span>
                                    </span>
                                </li>
                                <li data-target="#wizardexamplestep2" id="wizard2" style="width: 268px; max-width: 268px; min-width: 268px;">
                                    <!-- ! Remove space between elements by dropping close angle -->
                                    <span class="wizard-step-number">2</span>
                                    <span class="wizard-step-caption">
                                        Step 2

                                        <span class="wizard-step-description">Preview and confirm import</span>
                                    </span>
                                </li>
                                <li data-target="#wizardexamplestep3" id="wizard3" style="width: 268px; max-width: 268px; min-width: 268px;">
                                    <!-- ! Remove space between elements by dropping close angle -->
                                    <span class="wizard-step-number">3</span>
                                    <span class="wizard-step-caption">
                                        Step 3

                                        <span class="wizard-step-description">Import result</span>
                                    </span>
                                </li>

                            </ul>
                            <!-- / .wizard-steps -->
                        </div>
                        <!-- / .wizard-wrapper -->
                        <div class="wizard-content panel">

                            @using (Html.BeginForm("UploadFile", "Import", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <div id="wizardexamplestep1" class="wizard-pane" style="display:block">
                                    <div class="row">
                                        <div class="panel-group">
                                            <div class="col-sm-12">

                                                <div class="form-group no-margin-hr">
                                                    <label class="control-label">Download Sample Template :<span style="color: red">*</span></label>

                                                    <a style="cursor: pointer" tabindex="-1" onclick=" return DownloadCompaniesSample(); return false;">click here</a>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4" style="margin:auto; float:none;">
                                                    <div class="form-group no-margin-hr">
                                                        <label class="control-label">Path To File: </label>

                                                        <script>
                                                            init.push(function () {
                                                                $('.styled-finputs-example').pixelFileInput({ placeholder: 'No file selected...' });
                                                            })
                                                        </script>
                                                        @*<input type="file" name="file" id="fileImport" >*@
                                                        <input type="file" name="file" id="fileImport" class="styled-finputs-example">
                                                        @*<div class="col-sm-4">
                                                            <div class="form-group no-margin-hr" style="margin-top:5px;">*@
                                                        @*<ul class="table-nav-item">
                                                                <li class="btn btn-flat btn-labeled btn-primary" style="float:left; margin-left:3px;">

                                                                    <a style="color: #fff;  text-decoration: none; padding: 0px; font-weight: normal" id="Clear" onclick="ClearFileContent()">
                                                                        <span class="btn-label icon  fa  fa-trash-o" style="margin-right:6px;"> </span>
                                                                        Clear
                                                                    </a>
                                                                </li>
                                                            </ul>*@
                                                        @*</div>
                                                            </div>*@

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="panel-group">
                                            <div class="col-sm-4">
                                                <span id="lblNote" style="color:red;font-size:11px;">
                                                    Note:
                                                    <ul>
                                                        <li>Please do not use comma (,) within the data in the .csv file for import.</li>
                                                        <li>CompanyName is mandantory field.</li>
                                                        <li>It might take some time if file had large data.</li>
                                                    </ul>
                                                </span>

                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group no-margin-hr" style="margin-top:5px;">
                                                    <input type="submit" id="btnLoadData" class="btn btn-primary btn-flat" value="Preview and Import" />

                                                </div>
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @using (Html.BeginForm("ImportCompanies", "Import", FormMethod.Post))
                            {
                                    <!-- / .wizard-pane -->
                                <div style="display: none;" id="wizardexamplestep2" class="wizard-pane">
                                    <div class="row">
                                        <div class="col-sm-12" style="overflow: scroll; height: 298px;">
                                            <div id="divCompany" class="table-primary table-striped" style="width: 1050px; /*overflow: scroll*/ height: 304px;">

                                                @*<tr>
                                                        @foreach (DataColumn col in Model.Columns)
                                                        {
                                                            <th>@col.ColumnName</th>
                                                        }
                                                    </tr>
                                                                                                @foreach (DataRow row in Model.Tables["tblPreviewCompany"].Rows)
                                                    {
                                                        @(row["id"])
                                                    }*@


                                                @*@if (Model != null)
                                                    {*@
                                                @*<table id="tblPreviewCompany" class="table table-striped table-bordered dataTable no-footer" style="width:100%;border-collapse:collapse;" cellspacing="0" border="1">
                                                                                <tr>
                                                                                    @*<th scope="col">
                                                        Company Name
                                                    </th>
                                                    <th scope="col">
                                                        Phone
                                                    </th>
                                                    <th scope="col">
                                                        Fax
                                                    </th>
                                                    <th scope="col">
                                                        WebSite
                                                    </th>
                                                    <th scope="col">
                                                        Address1
                                                    </th>
                                                    <th scope="col">
                                                        ZipCode
                                                    </th>
                                                    <th scope="col">
                                                        State
                                                    </th>
                                                    <th scope="col">
                                                        City
                                                    </th>
                                                    <th scope="col">
                                                        Account_office
                                                    </th>*@
                                                @*<th scope="col">
                                                        CompanyName
                                                    </th>
                                                    <th scope="col">
                                                        Phone
                                                    </th>
                                                    <th scope="col">
                                                        Fax
                                                    </th>
                                                    <th scope="col">
                                                        WebSite
                                                    </th>
                                                    <th scope="col">
                                                        Account_type
                                                    </th>
                                                    <th scope="col">
                                                        Account_Industries
                                                    </th>
                                                    <th scope="col">
                                                        Description
                                                    </th>
                                                    <th scope="col">
                                                        AccountSite
                                                    </th>
                                                    <th scope="col">
                                                        AcountNumber
                                                    </th>
                                                    <th scope="col">
                                                        AnnualRevenue
                                                    </th>
                                                    <th scope="col">
                                                        Ownership
                                                    </th>
                                                    <th scope="col">
                                                        Employees
                                                    </th>
                                                    <th scope="col">
                                                        AccountOwner
                                                    </th>
                                                    <th scope="col">
                                                        Billingstreet
                                                    </th>
                                                    <th scope="col">
                                                        Shippingstreet
                                                    </th>
                                                    <th scope="col">
                                                        Billingcity
                                                    </th>
                                                    <th scope="col">
                                                        Shippingcity
                                                    </th>
                                                    <th scope="col">
                                                        Billingstate
                                                    </th>
                                                    <th scope="col">
                                                        Shippingstate
                                                    </th>
                                                    <th scope="col">
                                                        Billingzip
                                                    </th>
                                                    <th scope="col">
                                                        Shippingzip
                                                    </th>
                                                    <th scope="col">
                                                        Billingcountry
                                                    </th>
                                                    <th scope="col">
                                                        Shippingcountry
                                                    </th>
                                                    <th scope="col">
                                                        SalesMgr1
                                                    </th>
                                                    <th scope="col">
                                                        SalesMgr2
                                                    </th>
                                                    <th scope="col">
                                                        Account_office
                                                    </th>
                                                    <th scope="col">
                                                        PhoneExt
                                                    </th>
                                                    <th scope="col">
                                                        MailingAddress
                                                    </th>
                                                    <th scope="col">
                                                        BillingAddress
                                                    </th>
                                                    <th scope="col">
                                                        ReferredBy
                                                    </th>*@

                                                @*</tr>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>*@
                                                @*<td>@Html.TextBoxFor(model => item.CompanyName) </td>
                                                    <td>@Html.TextBoxFor(model => item.Phone) </td>
                                                    <td>@Html.TextBoxFor(model => item.Fax) </td>
                                                    <td>@Html.TextBoxFor(model => item.WebSite)</td>
                                                    <td>@Html.TextBoxFor(model => item.Address1) </td>
                                                    <td>@Html.TextBoxFor(model => item.ZipCode) </td>
                                                    <td>@Html.TextBoxFor(model => item.StateCode) </td>
                                                    <td>@Html.TextBoxFor(model => item.City) </td>
                                                    <td>@Html.TextBoxFor(model => item.Account_office) </td>*@

                                                @*<td>@Html.TextBoxFor(model => item.CompanyName) </td>
                                                        <td>@Html.TextBoxFor(model => item.Phone) </td>
                                                        <td>@Html.TextBoxFor(model => item.Fax) </td>
                                                        <td>@Html.TextBoxFor(model => item.WebSite) </td>
                                                        <td>@Html.TextBoxFor(model => item.Account_type) </td>
                                                        <td>@Html.TextBoxFor(model => item.Account_Industries) </td>
                                                        <td>@Html.TextBoxFor(model => item.Description) </td>
                                                        <td>@Html.TextBoxFor(model => item.AccountSite) </td>
                                                        <td>@Html.TextBoxFor(model => item.AcountNumber) </td>
                                                        <td>@Html.TextBoxFor(model => item.AnnualRevenue) </td>
                                                        <td>@Html.TextBoxFor(model => item.Ownership) </td>
                                                        <td>@Html.TextBoxFor(model => item.Employees) </td>
                                                        <td>@Html.TextBoxFor(model => item.AccountOwner) </td>
                                                        <td>@Html.TextBoxFor(model => item.Billingstreet) </td>
                                                        <td>@Html.TextBoxFor(model => item.Shippingstreet) </td>
                                                        <td>@Html.TextBoxFor(model => item.Billingcity) </td>
                                                        <td>@Html.TextBoxFor(model => item.Shippingcity) </td>
                                                        <td>@Html.TextBoxFor(model => item.Billingstate) </td>
                                                        <td>@Html.TextBoxFor(model => item.Shippingstate) </td>
                                                        <td>@Html.TextBoxFor(model => item.Billingzip) </td>
                                                        <td>@Html.TextBoxFor(model => item.Shippingzip) </td>
                                                        <td>@Html.TextBoxFor(model => item.Billingcountry) </td>
                                                        <td>@Html.TextBoxFor(model => item.Shippingcountry) </td>
                                                        <td>@Html.TextBoxFor(model => item.SalesMgr1) </td>
                                                        <td>@Html.TextBoxFor(model => item.SalesMgr2) </td>
                                                        <td>@Html.TextBoxFor(model => item.Account_office) </td>
                                                        <td>@Html.TextBoxFor(model => item.PhoneExt) </td>
                                                        <td>@Html.TextBoxFor(model => item.MailingAddress) </td>
                                                        <td>@Html.TextBoxFor(model => item.BillingAddress) </td>
                                                        <td>@Html.TextBoxFor(model => item.ReferredBy) </td>

                                                    </tr>*@
                                                @*}

                                                    </table>*@
                                                @*}*@
                                                @if (Model != null)
                                                {
                                                    <table id="tblPreviewCompany" class="table table-striped table-bordered dataTable no-footer" style="width:100%;border-collapse:collapse;" cellspacing="0" border="1">
                                                        <thead>
                                                            <tr>

                                                                @foreach (DataColumn col in Model.Columns)
                                                                {
                                                                    <th>@col.ColumnName</th>     }
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (DataRow row in Model.Rows)
                                                            {
                                                                <tr>
                                                                    @foreach (DataColumn col in Model.Columns)
                                                                    {
                                                                        <td>@row[col.ColumnName]</td>
                                                                    }
                                                                </tr>     }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                        </div>
                                        @Html.Hidden("Mappings")
                                        @Html.Hidden("RemoveMappings")
                                        <div class="col-sm-12" style="padding-top:12px;">
                                            <div class=" col-sm-4"></div>
                                            <div class="col-sm-4">
                                                <div class="form-group no-margin-hr">
                                                    <input type="submit" id="SaveMappings" class="btn btn-primary btn-flat" value="Import" />
                                                    @*<input  id="ButtonContCancel" class="btn btn-primary btn-flat" value="Cancel" />*@

                                                    <button name="ButtonContCancel" class="btn btn-primary btn-flat" type="button" onclick=" document.location.href = $('#cancelUrl').attr('href');">Cancel</button>
                                                    <a id="cancelUrl" href="@Html.AttributeEncode(Url.Action("ImportCompanies", "Import"))" style="display:none;"></a>
                                                </div>
                                            </div>
                                            <div class="col-sm-4"></div>
                                        </div>
                                    </div>

                                </div>
                                    <!-- / .wizard-pane -->
                                <div class="form-group no-margin-hr" style="overflow: scroll; height: 300px;">
                                    @if (Model != null)
                                    {
                                        <table id="tblPreviewCompany1" class="table table-striped table-bordered dataTable no-footer" style="width:100%;border-collapse:collapse;" cellspacing="0" border="1">

                                            <tbody>
                                                @for (int i = 0; i <= Model.Columns.Count - 1; i++)
                                                {

                                                    <tr>
                                                        <td>@Model.Columns[i]</td>
                                                        <td>


                                                            @if (Model != null)
                                                            {

                                                                @Html.DropDownList("SheetCols", new SelectList(Model.Columns, "ColumnName", "ColumnName"), new { })
                                                                @*@Html.DropDownListFor(i, new SelectList(Model.Columns, "ColumnName", "ColumnName"))*@
                                                            }


                                                        </td>
                                                        <td>
                                                            <a href="#" style="color: #e21b1b; text-decoration: none; padding: 0px; font-weight: normal" id="RemoveMapping" onclick="RemoveMapping(@i)">
                                                                <span class="btn-label icon  fa   fa-trash-o" style="margin-right:6px;"> </span>
                                                                RemoveMapping
                                                            </a>
                                                        </td>
                                                    </tr>     }
                                            </tbody>
                                        </table>

                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <!-- / .wizard -->
                </div>
            </div>
        </div>

    </div>
</div>
