@model CRMHub.ViewModel.MentorViewmodel

@{
    ViewBag.Title = "PendingMentorDetails";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



@using (Html.BeginForm("ConvertactiveMentor", "Mentor", FormMethod.Post, new { id = "UpdatePenMentor" }))
{
    <div class="widget">
        <div class="widget-header bordered-bottom bordered-themesecondary">
            <i class="widget-icon fa fa-user themesecondary"></i>
            <span class="widget-caption themesecondary">@Html.DisplayFor(m => m.objmentordetail.FirstName)</span>
        </div><!--Widget Header-->
        <div class="widget-body">

            <div class="panel">
                <div class="panel-body">


                    <div class="row">

                        <!-- Tabs -->

                        <ul class="nav nav-tabs bs-tabdrop-example" id="TabMenu" style="margin-top:20px;">
                            <li id="TabStripAppDetail" class="active"><a href="#TabStripAppDetail_View" data-toggle="tab">Application Detail</a></li>
                            <li id="TabStripQuestionnaire"><a href="#TabStripQuestionnaire_View" data-toggle="tab">Questionnaire Detail</a></li>
                        </ul>

                        <div class="tab-pane active" id="TabStripAccountDetail_View">


                            <div class="col-sm-12" style="padding-top:13px;padding-right:0px;">

                                <div class="col-xs-12 col-sm-12 text-right text-right-sm" id="white_bg">
                                    <ul class="table-nav-item">

                                        <li class="btn btn-flat btn-labeled btn-primary" id="btnSendQues" style="display:none;">
                                            <a style="color: #fff; text-decoration: none; padding: 0px; font-weight: normal">

                                                <span class="btn-label icon fa fa-envelope-o" style="margin-right:6px;"> </span>
                                                Send Questionnaire
                                            </a>
                                        </li>
                                        <button class="btn btn-flat btn-labeled btn-primary" id="btnCTAM" style=" margin:0px 3px 0px 10px;">
                                            <span class="btn-label icon fa fa-edit"></span>Convert to active
                                        </button>
                                        <li class="btn btn-flat btn-labeled btn-primary" id="btnmargin_top">
                                            <a style="color: #fff; text-decoration: none; padding: 0px; font-weight: normal" href="@Url.Action("index", "Mentor/" )">

                                                <span class="btn-label icon fa fa-backward" style="margin-right:6px;"> </span>
                                                Back
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>


                            <div class="tab-pane active" id="TabStripAppDetail_View">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel">


                                            <div class="col-sm-12">
                                                <!-- Page header, center on small screens -->
                                                <div class="col-sm-12" style="background: #2ab8da; padding:10px;">
                                                    <span class="label label-primary label-tag" style="font-size:14px;font-weight:800;"> Mentor Application Details</span>

                                                </div>


                                            </div>


                                            <div class="panel-body" style="padding-top: 53px;">


                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">
                                                            <label class="control-label">Created Date :</label>
                                                         
                                                                @Html.TextBoxFor(m => m.objmentordetail.strmentCreatedDate, new { @class = "form-control input-sm", @id = "txtcreateddate", @disabled = "disabled" })

                                                        </div>
                                                    </div>
                                                    </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">
                                                            <label class="control-label">Name :<span style="color: red">*</span></label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.FirstName, new { @class = "form-control input-sm", @id = "txtFirstName", @maxlength = 40, @disabled = "disabled" })
                                                            @*@Html.ValidationMessageFor(m => m.objmentordetail.FirstName, "", new { @class = "text-danger" })*@
                                                            <label>First</label>
                                                            @Html.HiddenFor(m => m.objmentordetail.MentorId)
                                                            @Html.HiddenFor(m => m.objMentor.MentorId)
                                                            @Html.HiddenFor(m => m.objMentor.VmsStatus, new { @Id = "idvmsstatus" })
                                                            @Html.HiddenFor(m => m.objmentordetail.QuestionStat, new { @Id = "hdQuestionStat" })

                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">

                                                            <label class="control-label"> </label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.LastName, new { @class = "form-control input-sm", @id = "txtLastName", @maxlength = 40, @disabled = "disabled" })
                                                            <label>Last</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">
                                                            <label class="control-label">Company :</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Organization, new { @class = "form-control input-sm", @id = "txtOrganization", @maxlength = 40 })
                                                            @*@Html.ValidationMessageFor(m => m.objmentordetail.FirstName, "", new { @class = "text-danger" })*@
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">

                                                            <label class="control-label">Title :</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Title, new { @class = "form-control input-sm", @id = "txtTitle", @maxlength = 40 })

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group no-margin-hr">
                                                            <label class="control-label">Address :</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Street1, new { @class = "form-control input-sm", @id = "txtStreet1", @maxlength = 40 })
                                                            @*@Html.ValidationMessageFor(m => m.objmentordetail.FirstName, "", new { @class = "text-danger" })*@
                                                            <label>Street Address</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group no-margin-hr">
                                                            @Html.TextBoxFor(m => m.objmentordetail.AddressLine1, new { @class = "form-control input-sm", @id = "txtAddressLine1", @maxlength = 40 })
                                                            @*@Html.ValidationMessageFor(m => m.objmentordetail.FirstName, "", new { @class = "text-danger" })*@
                                                            <label>Address Line 2</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">

                                                            @Html.TextBoxFor(m => m.objmentordetail.City1, new { @class = "form-control input-sm", @id = "txtCity", @maxlength = 40 })
                                                            @*@Html.ValidationMessageFor(m => m.objmentordetail.FirstName, "", new { @class = "text-danger" })*@
                                                            <label>City</label>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">
                                                            @Html.DropDownListFor(m => m.objmentordetail.StateProvinceRegion1, new SelectList(Model.lststate, "StateCode", "StateName"), "--Select--", new { @class = "form-control", @id = "drpState" })
                                                            <label>State / Province / Region</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">

                                                            @Html.TextBoxFor(m => m.objmentordetail.ZIP1, new { @class = "form-control input-sm", @id = "txtZIP1", @maxlength = 9 })
                                                            @*@Html.ValidationMessageFor(m => m.objmentordetail.FirstName, "", new { @class = "text-danger" })*@
                                                            <label>ZIP/Postal Code</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">
                                                            <label class="control-label">Phone :</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Telephone1, new { @class = "form-control input-sm", @id = "txtTelephone1", @maxlength = 15, @disabled = "disabled" })
                                                            @*@Html.ValidationMessageFor(m => m.objmentordetail.FirstName, "", new { @class = "text-danger" })*@

                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">

                                                            <label class="control-label">Mobile Phone :</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Telephone2, new { @class = "form-control input-sm", @id = "txtTelephone2", @maxlength = 15 })

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">
                                                            <label class="control-label">Email :</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.PrimaryEmail, new { @class = "form-control input-sm", @id = "txtPrimaryEmail", @maxlength = 60, @disabled = "disabled" })
                                                            @*@Html.ValidationMessageFor(m => m.objmentordetail.FirstName, "", new { @class = "text-danger" })*@

                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">

                                                            <label class="control-label">LinkedIn Profile URL :</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.LinkedIn, new { @class = "form-control input-sm", @id = "txtLinkedIn", @placeholder = "https://www.linkedin.com", @maxlength = 60 })

                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group no-margin-hr">
                                                            <label class="control-label">View Resume :</label>
                                                            @*<a href="">@Html.LabelFor(m => m.objmentordetail.ResumeName, new { @class = "form-control input-sm" }) </a>*@
                                                            <a href="" data-toggle="modal" data-target="#ViewResume" id="ShowResume">@Html.DisplayFor(m => m.objmentordetail.ResumeName)</a>
                                                            @Html.HiddenFor(m => m.objmentordetail.Resume)
                                                            @Html.HiddenFor(m => m.objmentordetail.ResumeName, new { @id = "ResumeName" })
                                                        </div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div id="TabStripQuestionnaire_View" class="tab-pane active" style="display:none;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="panel">


                                            <div class="col-sm-12">
                                                <!-- Page header, center on small screens -->
                                                <div class="col-sm-12" style="background: #2ab8da; padding:10px;">
                                                    <span class="label label-primary label-tag" style="font-size:14px;font-weight:800;"> Mentor Questionnaire Detail</span>

                                                </div>
                                            </div>
                                            <div class="panel-body" style="padding-top: 53px;">
                                                <div class="row">
                                                    <label class="col-sm-12">Name</label>
                                                    <div class="form-group">
                                                        <div class="col-sm-2 width-sm-4">

                                                            @Html.DropDownList("Prefix", new List<SelectListItem>
     { new SelectListItem { Text = "Mr.", Value = "Mr."},
      new SelectListItem { Text = "Mrs.", Value = "Mrs."},
      new SelectListItem { Text = "Miss", Value = "Miss"},
       new SelectListItem { Text = "Ms.", Value = "Ms."},
        new SelectListItem { Text = "Dr.", Value = "Dr."},
         new SelectListItem { Text = "Prof.", Value = "Prof."},
          new SelectListItem { Text = "Rev.", Value = "Rev."},
       }, new { @class = "form-control input-sm" })


                                                            <label class="smalltext">Prefix</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 width-sm-2">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.FirstName, new { @class = "form-control input-sm", @id = "txtFirstName", @maxlength = 40, @disabled = "disabled" })
                                                            <label class="smalltext">First</label>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 width-sm-2">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.MiddleName, new { @class = "form-control input-sm", @id = "txtMiddleName", @maxlength = 40 })
                                                            <label class="smalltext">Middle</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 width-sm-2">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.LastName, new { @class = "form-control input-sm", @id = "txtLastName", @maxlength = 40, @disabled = "disabled" })
                                                            <label class="smalltext">Last</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-2 width-sm-2">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.Suffix, new { @class = "form-control input-sm", @id = "txtSuffix", @maxlength = 40 })
                                                            <label class="smalltext">Suffix</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Nick Name</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.NickName, new { @class = "form-control input-sm", @id = "txtNickName", @maxlength = 40 })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Organization</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Organization, new { @class = "form-control input-sm", @id = "txtOrganization", @maxlength = 40 })

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Title</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Title, new { @class = "form-control input-sm", @id = "txtTitle", @maxlength = 40 })

                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Address #1</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Street1, new { @class = "form-control input-sm", @id = "txtStreet1", @maxlength = 40 })
                                                            <label class="smalltext">Street Address</label>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.AddressLine1, new { @class = "form-control input-sm", @id = "txtAddressLine2", @maxlength = 40 })
                                                            <label class="smalltext">Address Line 2</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.City1, new { @class = "form-control input-sm", @id = "txtCity1", @maxlength = 40 })
                                                            <label class="smalltext">City</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.StateProvinceRegion1, new { @class = "form-control input-sm", @id = "txtStateProvinceRegion1", @maxlength = 40 })
                                                            <label class="smalltext">State / Province / Region</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.ZIP1, new { @class = "form-control input-sm", @id = "txtZIP1", @maxlength = 9 })
                                                            <label class="smalltext"> ZIP / Postal Code</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.DropDownListFor(m => m.objmentordetail.Country1, new SelectList(Model.lstcountry, "CountryID", "CountryName"), "--Select--", new { @class = "form-control", @id = "drpCountry1" })
                                                            <label class="smalltext">Country</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Address #2</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Street2, new { @class = "form-control input-sm", @id = "txtStreet2", @maxlength = 40 })
                                                            <label class="smalltext">Street Address</label>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.AddressLine2, new { @class = "form-control input-sm", @id = "txtAddressLine2", @maxlength = 40 })
                                                            <label class="smalltext">Address Line 2</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.City2, new { @class = "form-control input-sm", @id = "txtCity2", @maxlength = 40 })
                                                            <label class="smalltext">City</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.StateProvinceRegion2, new { @class = "form-control input-sm", @id = "txtStateProvinceRegion2", @maxlength = 40 })

                                                            <label class="smalltext">State / Province / Region</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentordetail.ZIP2, new { @class = "form-control input-sm", @id = "txtZIP2", @maxlength = 9 })

                                                            <label class="smalltext"> ZIP / Postal Code</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.DropDownListFor(m => m.objmentordetail.Country2, new SelectList(Model.lstcountry, "CountryID", "CountryName"), "--Select--", new { @class = "form-control", @id = "drpCountry2" })
                                                            <label class="smalltext">Country</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" style="background: #2ab8da; padding:10px;">
                                                    <span class="label label-primary label-tag" style="font-size:14px;font-weight:800;"> CONTACT DETAILS</span>

                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Primary Email Address</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.PrimaryEmail, new { @class = "form-control input-sm", @id = "txtPrimaryEmail", @maxlength = 60, @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Secondary Email Address</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.SecondaryEmail, new { @class = "form-control input-sm", @id = "txtSecondaryEmail", @maxlength = 60 })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Skype Address</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.SkypeAddress, new { @class = "form-control input-sm", @id = "txtSkypeAddress", @maxlength = 60 })

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>  Twitter Address</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.TwitterAddress, new { @class = "form-control input-sm", @id = "txtTwitterAddress", @maxlength = 60 })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Linked In</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.LinkedIn, new { @class = "form-control input-sm", @id = "txtLinkedIn", @maxlength = 60 })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Telephone #1</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Telephone1, new { @class = "form-control input-sm", @id = "txtTelephone1", @maxlength = 15, @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>  Telephone #2</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Telephone2, new { @class = "form-control input-sm", @id = "txtTelephone2", @maxlength = 15 })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Telephone #3</label>
                                                            @Html.TextBoxFor(m => m.objmentordetail.Telephone3, new { @class = "form-control input-sm", @id = "txtTelephone3", @maxlength = 15 })
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <label>Public Profile</label>
                                                            @Html.TextAreaFor(m => m.objmentordetail.PublicProfile, new { @class = "form-control input-sm", @id = "txtpublicprofile", @cols = 38, @rows = 5, @MaxLength = "200", @style = "resize: none;" })

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-12" style="background: #2ab8da; padding:10px;">
                                                    <span class="label label-primary label-tag" style="font-size:14px;font-weight:800;"> MENTOR EXPERIENCE QUESTIONNAIRE</span>

                                                </div>

                                                <div class="row" style="padding:10px;">
                                                    <span style="font-size:14px;font-weight:800;"> SECTION 1 - NEW MENTOR CREATION</span><br />
                                                    <label class="smalltext">Please check the topics that you are comfortable mentoring and advising entrepreneurs on.</label>
                                                </div>
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <label class="fontBold" style="font-weight: 800  ! important;"> Startups :</label><br />
                                                        @foreach (var item in Model.listofMQStartUps)
                                                        {
                                                            @Html.CheckBox("chkstartups", item.IsChecked, new { value = item.Value });
                                                            <label>@item.Text</label><br />
                                                        }
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="fontBold" style="font-weight: 800;">Business Model :</label><br />
                                                        @foreach (var item in Model.listofMQBusinessModel)
                                                        {
                                                            @Html.CheckBox("chkbusinessmodel", item.IsChecked, new { value = item.Value });
                                                            <label>@item.Text</label><br />
                                                        }
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="fontBold" style="font-weight: 800;">Funding :</label><br />
                                                        @foreach (var item in Model.listofMQFunding)
                                                        {
                                                            @Html.CheckBox("chkfunding", item.IsChecked, new { value = item.Value });
                                                            <label>@item.Text</label><br />

                                                        }
                                                    </div>


                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentorquestionnary.Others1, new { @class = "form-control input-sm", @id = "txtOthers1", @maxlength = 60, @placeholder = "Other" })
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="row" style="padding:10px;">
                                                    <span style="font-size:14px;font-weight:800;"> SECTION 2 - INDUSTRIES / TECHNOLOGIES </span><br />
                                                    <label class="smalltext">Please check the areas that you have experience or knowledge about</label>
                                                </div>
                                                <div class="row">

                                                    <div class="col-sm-4">
                                                        <label class="fontBold" style="font-weight: 800;">Software :</label><br />
                                                        @foreach (var item in Model.listofMQSoftware)
                                                        {
                                                            @Html.CheckBox("chksoftware", item.IsChecked, new { value = item.Value });<label>@item.Text</label><br />
                                                        }
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="fontBold" style="font-weight: 800;">Life Sciences :</label><br />
                                                        @foreach (var item in Model.listofMQLifeSciences)
                                                        {
                                                            @Html.CheckBox("chklifesciences", item.IsChecked, new { value = item.Value });<label>@item.Text</label><br />

                                                        }
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <label class="fontBold" style="font-weight: 800;">Other :</label><br />
                                                        @foreach (var item in Model.listofMQIndustryOther)
                                                        {
                                                            @Html.CheckBox("chkindustryother", item.IsChecked, new { value = item.Value });<label>@item.Text</label><br />

                                                        }
                                                    </div>



                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentorquestionnary.Others2, new { @class = "form-control input-sm", @id = "txtOthers2", @maxlength = 60, @placeholder = "Other" })
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="row" style="padding:10px;">
                                                    <span style="font-size:14px;font-weight:800;">SECTION 3 - FUNCTIONAL AREAS</span> <br />
                                                    <label class="smalltext">Please check the areas that you have experience in or knowledge about</label>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">

                                                            @foreach (var item in Model.listofMQFunctionalAreas)
                                                            {
                                                                @Html.CheckBox("chkfunctionalareas", item.IsChecked, new { value = item.Value });<label>@item.Text</label><br />

                                                            }

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(m => m.objmentorquestionnary.Others3, new { @class = "form-control input-sm", @id = "txtOthers3", @maxlength = 60, @placeholder = "Other" })

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ViewResume" class="modal fade" >
        <div class="modal-dialog" style="width:100%;height:100%;">
            <div class="modal-content" style="width:100%;height:100%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><span id="resumetitle"></span></h4>
                </div>
                <div class="modal-body" style="width:100%;height:100%;">
                    <div id="img" style="width: 100%; height: 100%; float: left; overflow: auto; border: 1px solid #000;">
                    </div>
                    <div style="background-color: #fff; padding: 10px;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    $("#txtSecondaryEmail").blur(function () {

        var isvalid;
        if ($("#txtSecondaryEmail").val() != "") {
            if ($("#txtSecondaryEmail").val() == $("#txtPrimaryEmail").val()) {
                bootbox.alert("Primary Email and Secondary Email Should not be same");
                $("#txtSecondaryEmail").val('');
            }
            else {
                isvalid = ValidateEmail($(this)[0]);
                ValidateEmails($("#txtSecondaryEmail").val(), isvalid);
            }
        }
    });
    function ValidateEmails(objemailvalue, isvalid) {
        if (isvalid == true) {


        }

        else {
            if (objemailvalue != "") {
                bootbox.alert("Email is not valid");
            }

        }
    }

    $(document).ready(function () {
        //$('#txtZip').mask('99999-9999');

        $("#btnEdit").click(function () {

            var isvalid = false;
            var Alerttext = "Do you want to convert this venture to an Active Venture?";
            isvalid = boortboxconformation(Alerttext);
            return isvalid;

        });

        $('#txtPrimaryPhoneNo').keydown(function (e) {
            //PhoneMask(e, '#txtphone');

            var key = e.which || e.charCode || e.keyCode || 0;
            $phone = $(this);

            // Don't let them remove the starting '('
            if ($phone.val().length === 1 && (key === 8 || key === 46)) {
                $phone.val('(');
                return false;
            }
                // Reset if they highlight and type over first char.
            else if ($phone.val().charAt(0) !== '(') {
                $phone.val('(' + $phone.val());
            }

            // Auto-format- do not expose the mask as the user begins to type
            if (key !== 8 && key !== 9) {
                if ($phone.val().length === 4) {
                    $phone.val($phone.val() + ')');
                }
                if ($phone.val().length === 5) {
                    $phone.val($phone.val() + ' ');
                }
                if ($phone.val().length === 9) {
                    $phone.val($phone.val() + '-');
                }
            }

            // Allow numeric (and tab, backspace, delete) keys only
            return (key == 8 ||
                    key == 9 ||
                    key == 46 ||
                    (key >= 48 && key <= 57) ||
                    (key >= 96 && key <= 105));
        });
        $('#txtSecondaryPhoneNo').keydown(function (e) {
            //PhoneMask(e, '#txtphone');

            var key = e.which || e.charCode || e.keyCode || 0;
            $phone = $(this);

            // Don't let them remove the starting '('
            if ($phone.val().length === 1 && (key === 8 || key === 46)) {
                $phone.val('(');
                return false;
            }
                // Reset if they highlight and type over first char.
            else if ($phone.val().charAt(0) !== '(') {
                $phone.val('(' + $phone.val());
            }

            // Auto-format- do not expose the mask as the user begins to type
            if (key !== 8 && key !== 9) {
                if ($phone.val().length === 4) {
                    $phone.val($phone.val() + ')');
                }
                if ($phone.val().length === 5) {
                    $phone.val($phone.val() + ' ');
                }
                if ($phone.val().length === 9) {
                    $phone.val($phone.val() + '-');
                }
            }

            // Allow numeric (and tab, backspace, delete) keys only
            return (key == 8 ||
                    key == 9 ||
                    key == 46 ||
                    (key >= 48 && key <= 57) ||
                    (key >= 96 && key <= 105));
        });

        if ($("#hdQuestionStat").val() == "1" || $("#hdQuestionStat").val() == "True") {
            $("#btnSendQues").hide();
            $("#TabStripQuestionnaire").show();
        }
        else {
            $("#btnSendQues").show();
            $("#TabStripQuestionnaire").hide();
        }
    });

    function boortboxconformation(Alerttext) {
        var isvalid = false;

        bootbox.confirm(Alerttext, function (flag) {

            if (flag == true) {

                isvalid = true;
                $("#UpdatePenVenture").submit();
            }
            else {
                isvalid = true;
            }
            return isvalid;
        });
        return isvalid;
    }

    $('#TabStripAppDetail').click(function () {
        $('#TabStripAppDetail_View').css("display", "block");
        $('#TabStripQuestionnaire_View').css("display", "none");
        $("#TabStripAppDetail").addClass("active");
        $("#TabStripQuestionnaire").removeClass("active");
    });

    $('#TabStripQuestionnaire').click(function () {
        $('#TabStripAppDetail_View').css("display", "none");
        $('#TabStripQuestionnaire_View').css("display", "block");
        $("#TabStripQuestionnaire").addClass("active");
        $("#TabStripAppDetail").removeClass("active");

    });
    $('#btnSendQues').click(function () {
        isvalid=false;
        var Alertmsg = 'Do you want to send Questionnaire?';
        bootbox.confirm(Alertmsg, function (flag) {
            if(flag==true){
                var obj = {};
                obj.mentorid = '@Request.QueryString["MentorId"]';
                obj.primaryemail = $("#txtPrimaryEmail").val();
                obj.vmsstatus = $("#idvmsstatus").val();

                $.ajax({
                    "dataType": 'json',
                    "contentType": "application/json; charset=utf-8",
                    "type": "GET",
                    "url": "SendQuestionarie/Mentor",
                    "data": JSON.stringify(obj),
                    "success": function (r) {
                        //alert(r.d);
                        if (r == true) {
                            $.growl.notice({ title: "Success", message: "Questionnarie  sent successfully.", size: 'large' });
                           
                        }
                        else {
                            $.growl.error({ title: "Fail", message: "Questionnarie not sent.", size: 'large' });
                         
                        }
                    }
                });
                isvalid=true;
                return isvalid;
            }


            else{
                isvalid=true;
                return isvalid;
            }
            return isvalid;
        });
    });

        $("#ShowResume").click(function () {
            
            var imglocation1 = 'http:/Mentoring.Api/ResumeDocs/';
            //var imglocation1 = 'http://priyanet.us/MentoringAPI/ResumeDocs/'
            var urlpaths1 = imglocation1 + $("#ResumeName").val()+".pdf";
            var ifrm = document.createElement("iframe");
            ifrm.setAttribute("src", urlpaths1);
            ifrm.style.width = "100%";
            ifrm.style.height = "100%";
            $("#resumetitle").html($("#ResumeName").val());
            $('#img').prepend(ifrm);

        });
    $("#btnCTAM").click(function () {
        isvalid = false;
        var pending = "\"Pending\"";
        var Alertmsg = "Do you want to convert this " + pending + " Mentor to an Active Mentor?";
        bootbox.confirm(Alertmsg, function (flag) {
            if (flag == true) {
                $("#UpdatePenMentor").submit();
                isvalid = true;
                return isvalid;
            }
            else {
                isvalid = true;
                return isvalid;
            }
            return isvalid;
        });
        return isvalid;
    });
</script>